body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #107a10;
}

form {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

#send {
    width: 25%;
}

#chat {
    margin-bottom: 10%;
	position: absolute;
	width: 100%;
}

a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#text-interface {
    display: none;
    text-align: center;
}

.status {
    color: #00f;
    font-size: 90%;
    margin: 5px;
    text-align: center;
    background-color: #d5d5d5;
}

.user {
        display: block;
        text-align: left;
        color: #ff8d02;
}

.message {
    display: inline-block;
    text-align: center;
    color: #ccc;
}

.msg {
    border-bottom: 3px solid black;
}

#codeInput {
	color: transparent;
	  background: transparent;
	  outline: none;
	  border: 0 none;
	  z-index: 1;
    width: 100%;
	resize: none;
}

.code-toolbar {
position: absolute;
width: 100%;
top: 53.5px;
pointer-events: none;
z-index: -1;
}

#preInput {
	position: absolute;
	top: 57.5px;
}
	

#demo {
	position: fixed;
}